<link rel="stylesheet" href="/css/home.css" />

<div class="container">
  <!-- heading  -->
  <div class="header">
    <h1>CSV File Reader</h1>
  </div>

  <!-- upload box -->
  <form action="/upload" method="post" enctype="multipart/form-data">
    <div class="input-box">
      <label for="csvFile">Select a CSV file to upload:</label>
      <div class="input">
        <input type="file" id="csvFile" name="csv" accept=".csv" />
        <button class="upload-btn">Upload</button>
      </div>
    </div>
  </form>
</div>

  <!-- list of uploaded files -->
  <div class="file-list">
    <h2>Uploaded Files:</h2>
    <table>
      <thead>
        <tr>
          <th>File Name</th>
          <th>Actions</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% csvfiles.forEach(function(file) { %>
          <tr>
            <td><%= file.fileName %></td>
            <td>
              <a href="/view/<%= file._id %>" class="view-btn">View</a>
              
            </td>
            <td><a href="/delete/<%= file._id %>" class="delete-btn">Delete</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
