<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://www.flaticon.com/free-icon/csv_9159105?term=file+format&page=1&position=57&origin=search&related_id=9159105"
      type="image/x-icon"
    />
    <!-- title of the Page -->
    <title><%= title %></title>
  </head>
  <body>
    <%- include('_header') %>
    <!-- body -->
    <%- body %>
  </body>
</html>
